$font-stack: Helvetica, sans-serif;
$primary-color: #19376D;
$secondary-color: #7c7c7c;
$width: 1200px;
$slider-width: 900px;

body {
    margin: 0;
    padding: 0;
    font: 100% $font-stack;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        column-gap: 20px;   
        height: fit-content;
        position: relative;
        left: calc(-100vW / 2  + $width / 2  - 30px);
        
        .slider-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            row-gap: 5px;
           

            .slider-row-upper {
                height: 180px;
                overflow: hidden;

                    .slider-row-upper-inner {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        column-gap: 10px;
                        height: 100%;
                        width: 100%;
                        position: relative;
                    }
                }
            }

            .lower-slider-container {
                display: flex;  
                justify-content: flex-start;   
                align-items: center;
                height: 180px;
                width: 100%;
               
               .slider-row-lower {
                    height: 100%;
                    overflow: hidden;
                    
                    .slider-row-lower-inner {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        column-gap: 10px;
                        height: 100%;
                        position: relative;
                        width: 100%;
                    }
               }

                .buttons-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-end;
                    row-gap: 10px;
                    height: 100%;
                    flex-grow: 1;
                    
                    button {
                        color: $primary-color;
                        background-color: transparent;
                        border-color: $primary-color;
                        border: 1px solid;
                        border-radius: 5px;
                        padding: 15px 18px;
                        transition: all 0.1s ease-in-out;

                        img {
                            height: 10px;
                        }

                        &:hover {
                            border-color: #dedede;
                            cursor: pointer;
                        }
                    }
                }
            } 

        .text-container {
            height: 100%;
            width: 30%;
            h2 {
                color: $primary-color;
            }

            p {
                color: $secondary-color;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.5;
            }
        }
    }
}

img {
    height: 100%;
    border-radius: 5px;
}
